@use 'variables' as *;

@mixin slider-button {
    @include flex-center;

    height: 40px;
    width: 40px;

    cursor: pointer;
    border: none;
    background: none;

    img {
        width: 100%;
        filter: brightness(0) saturate(100%) invert(20%) sepia(52%) saturate(6279%) hue-rotate(340deg) brightness(91%) contrast(109%);
    }
}
@mixin main-button {
    width: 100%;
    max-width: 480px;

    border: none;
    border-radius: 5px;

    padding: 15px 5px;

    font-size: 1.05rem;
    font-weight: 450;
    color: $black-01;

    cursor: pointer;

    background-color: $green;

    // Desktop
    @include desktop {
        max-width: 500px;
        font-size: 1.1rem;
    }
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin desktop {
    @media screen and (min-width:900px) {
        @content;
    }
}