@use 'variables' as *;
@use 'mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header {
    background-color: $black;
    
    .c-header {
        @include flex-center-column;
        justify-content: flex-start;
        min-height: 100vh;

        background-image: url(../images/bg-header.png);
        background-position: center;
        background-size: cover;

        .header-image {
            @include flex-center;

            padding-inline: 20px;
            width: 100%;

            img {
                width: 100%;
                max-width: 380px;
            }
        }
        .header-content {
            @include flex-center-column;
            gap: 20px;

            text-align: center;
            padding-inline: 20px;

            .header-text {
                
                h1 {
                    font-size: 1.8rem;
                    color: $white;

                    mark {
                        color: $red-01;
                        background-color: transparent;
                    }
                }
                p {
                    font-size: 0.9rem;
                    color: $gray;
                }
            }
            .header-button {
                width: 100%;
                
                a {

                    .main-button {
                        width: 100%;

                        border: none;
                        border-radius: 5px;

                        padding: 10px 5px;

                        font-size: 1.05rem;
                        font-weight: 450;
                        color: $black;

                        background-color: $green;
                    }
                }
                
            }
        }
    }
}