* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #1A1D22;
}
@media screen and (min-width: 900px) {
  header {
    background-image: url(../images/bg-header.png);
    background-position: center;
    background-size: cover;
  }
}
header .c-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  margin-inline: auto;
  padding-bottom: 60px;
}
@media screen and (min-width: 900px) {
  header .c-header {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 620px;
    padding: 0;
  }
}
header .c-header .header-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
  width: 100%;
  background-image: url(../images/bg-header-mobile.png);
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 900px) {
  header .c-header .header-image {
    align-items: flex-start;
    height: 100%;
    max-width: 50%;
    padding-left: 0;
    background-image: none;
  }
}
header .c-header .header-image img {
  width: 100%;
  max-width: 380px;
}
@media screen and (min-width: 900px) {
  header .c-header .header-image img {
    max-width: 420px;
  }
}
header .c-header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  header .c-header .header-content {
    height: 100%;
    width: 50%;
    padding-right: 0;
    text-align: start;
  }
}
header .c-header .header-content .header-text h1 {
  line-height: 2.6rem;
  font-size: 1.8rem;
  color: #F9F9F9;
}
header .c-header .header-content .header-text h1 mark {
  color: #F20C36;
  background-color: transparent;
}
@media screen and (min-width: 900px) {
  header .c-header .header-content .header-text h1 {
    font-size: 2.2rem;
  }
}
header .c-header .header-content .header-text p {
  max-width: 680px;
  margin-inline: auto;
  font-size: 0.9rem;
  color: #E0E0E0;
}
@media screen and (min-width: 900px) {
  header .c-header .header-content .header-text p {
    font-size: 1rem;
    max-width: 500px;
    margin-inline: initial;
  }
}
header .c-header .header-content .header-link {
  width: 100%;
}
header .c-header .header-content .header-link a .header-button {
  width: 100%;
  max-width: 480px;
  border: none;
  border-radius: 5px;
  padding: 15px 5px;
  font-size: 1.05rem;
  font-weight: 450;
  color: #1A1D22;
  cursor: pointer;
  background-color: #0BD9AE;
}
@media screen and (min-width: 900px) {
  header .c-header .header-content .header-link a .header-button {
    max-width: 500px;
    font-size: 1.1rem;
  }
}

.section-01 {
  background-color: #212429;
}
.section-01 .c-section-01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin-inline: auto;
  padding: 60px 20px;
}
.section-01 .c-section-01 .section-01-text {
  max-width: 900px;
  text-align: center;
}
.section-01 .c-section-01 .section-01-text h2 {
  font-size: 1.8rem;
  color: #F9F9F9;
}
@media screen and (min-width: 900px) {
  .section-01 .c-section-01 .section-01-text h2 {
    font-size: 2.2rem;
  }
}
.section-01 .c-section-01 .section-01-text h2 mark {
  color: #F20C36;
  background-color: transparent;
}
.section-01 .c-section-01 .section-01-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 920px;
  aspect-ratio: 16/9;
}
.section-01 .c-section-01 .section-01-video .video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-image: url(../images/video-thumbnail.jpg);
  background-size: cover;
  background-position: center;
  transition: opacity 0.4s;
}
.section-01 .c-section-01 .section-01-video .video-thumbnail.video-thumbnail-active {
  opacity: 0;
  pointer-events: none;
}
.section-01 .c-section-01 .section-01-video iframe {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #1A1D22;
  background-color: #1A1D22;
}

.section-02 {
  background-color: #1A1D22;
}
.section-02 .c-section-02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin-inline: auto;
  padding: 60px 20px;
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
}
.section-02 .c-section-02 .section-02-text {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 .section-02-text {
    width: 100%;
  }
}
.section-02 .c-section-02 .section-02-text h2 {
  font-size: 1.8rem;
  color: #F9F9F9;
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 .section-02-text h2 {
    font-size: 2rem;
  }
}
.section-02 .c-section-02 .section-02-image {
  display: none;
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 .section-02-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 10px);
  }
  .section-02 .c-section-02 .section-02-image img {
    width: 100%;
  }
}
.section-02 .c-section-02 .section-02-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.section-02 .c-section-02 .section-02-content:has(.section-02-box:hover) .section-02-box:not(:hover) {
  filter: blur(4px);
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 .section-02-content {
    width: calc(50% - 10px);
  }
}
.section-02 .c-section-02 .section-02-content .section-02-box {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 90%;
  max-width: 600px;
  padding: 20px 10px;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(90deg, #1A1D22, #F20C36);
  transition: filter 0.6s;
}
.section-02 .c-section-02 .section-02-content .section-02-box .box-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60px;
}
.section-02 .c-section-02 .section-02-content .section-02-box .box-image img {
  width: 100%;
  filter: brightness(0) saturate(100%) invert(20%) sepia(52%) saturate(6279%) hue-rotate(340deg) brightness(91%) contrast(109%);
}
.section-02 .c-section-02 .section-02-content .section-02-box .box-text h4 {
  font-size: 1.2rem;
  color: #F9F9F9;
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 .section-02-content .section-02-box .box-text h4 {
    font-size: 1.3rem;
  }
}
.section-02 .c-section-02 .section-02-content .section-02-box .box-text p {
  font-size: 0.9rem;
  color: #E0E0E0;
}
@media screen and (min-width: 900px) {
  .section-02 .c-section-02 .section-02-content .section-02-box .box-text p {
    font-size: 1rem;
  }
}
.section-02 .c-section-02 .section-02-content .box-01, .section-02 .c-section-02 .section-02-content .box-03 {
  transform: translateX(5%);
}
.section-02 .c-section-02 .section-02-content .box-02, .section-02 .c-section-02 .section-02-content .box-04 {
  transform: translateX(-5%);
}

.section-03 {
  background-color: #212429;
}
.section-03 .c-section-03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin-inline: auto;
  padding: 60px 10px;
}
.section-03 .c-section-03 .section-03-text {
  text-align: center;
}
.section-03 .c-section-03 .section-03-text h2 {
  font-size: 1.8rem;
  color: #F9F9F9;
}
@media screen and (min-width: 900px) {
  .section-03 .c-section-03 .section-03-text h2 {
    font-size: 2rem;
  }
}
.section-03 .c-section-03 .section-03-c-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .section-03 .c-section-03 .section-03-c-slider {
    flex-direction: column-reverse;
  }
}
.section-03 .c-section-03 .section-03-c-slider .section-03-slider {
  width: 100%;
  border-radius: 10px;
}
.section-03 .c-section-03 .section-03-c-slider .section-03-slider .section-03-slider-c-image {
  padding-inline: 10px;
}
.section-03 .c-section-03 .section-03-c-slider .section-03-slider .section-03-slider-c-image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px #1A1D22;
}
.section-03 .c-section-03 .section-03-c-slider .section-03-slider-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  padding-right: 10px;
}
.section-03 .c-section-03 .section-03-c-slider .section-03-slider-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border: none;
  background: none;
}
.section-03 .c-section-03 .section-03-c-slider .section-03-slider-buttons button img {
  width: 100%;
  filter: brightness(0) saturate(100%) invert(20%) sepia(52%) saturate(6279%) hue-rotate(340deg) brightness(91%) contrast(109%);
}/*# sourceMappingURL=main.css.map */